<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{base}">
	<head>
		<meta charset="UTF-8">
		<title>Cadastro de Candidatos</title>
	</head>
	<body>
		<div layout:fragment="conteudo">
		
			<form th:action="@{/candidato/cadastrar}" th:object="${candidato}" method="POST">
				<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}" id="alert">
					<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
				</div>
				<div class="alert alert-success" th:if="${msg !=null}" th:text="${msg}" id="alert"></div>
				<div id="formulario"> 
	        		<h2>Candidatos</h2>
	      		</div>
	      		
	      		<input th:field="*{id}" type="hidden">
	      		<div id="form">
		      		<div class="form-group">
		      			<br>
						<label for="social">Nome Social</label>
						<input placeholder="Insira como prefere ser chamado(a)" th:field="*{nomeSocial}" id="social" class="form-control">
						<br>
					</div>
		      		
		      		<div class="form-group">
						<label for="nome">Nome Completo (*)</label>
						<input placeholder="Insira seu nome..." th:field="*{nome}" id="nome" class="form-control">
						<br>
					</div>
					
					<div class="form-group">
						<label for="data">Data de Nascimento (*)</label>			
						<input placeholder="DD/MM/AAAA" th:field="*{dataNascimento}" id="data" class="form-control">
						<br>
					</div>
					
					<div class="form-group">
					 	<label for="cpf">CPF (*) </label>
						<input placeholder="Insira seu cpf..." th:field="*{cpf}" id="cpf" class="form-control">
						<br>
					</div>
					
					<div class="form-group">
						<label for="email">E-mail (*)</label>
						<input placeholder="Insira seu email..." th:field="*{email}" id="email" class="form-control">
						<br>
					</div>
					
					<div class="form-group">
						<label for="telefone">Telefone (*)</label>
						<input placeholder="Insira seu telefone..." th:field="*{telefone}" id="telefone" class="form-control">
						<br>
					</div>
					
					<label for="genero">Gênero</label>
					<select th:field="*{genero}" id="genero" class="form-select form-select-sm" aria-label=".form-select-sm example">
		  				<option value="">Selecione</option>
		  				<option value="feminino">Feminino</option>
						<option value="masculino">Masculino</option>
						<option value="N/I">Prefiro não dizer</option>
					</select>
					<br>
					
					<label for="linguagem">Linguagem de Programação (*)</label>
					<select th:field="*{linguagem}" id="linguagem" class="form-control">
						<option value="">Selecione</option>
						<option th:each="c:${linguagem}"
							th:value="${c.id}" th:text="${c.linguagem}"></option>
					</select>
					<br>
					
					<label for="experiencia">Tempo de Experiência (*)</label>
					<select th:field="*{experiencia}" id="experiencia" class="form-select form-select-sm" aria-label=".form-select-sm example">
		  				<option value="5">Não Possui</option>
						<option value="4">Menos de 1 ano</option>
						<option value="3">Entre 1 ano e 2 anos</option>
						<option value="2">Entre 3 anos e 5 anos</option>
						<option value="1">Entre 6 anos e 8 anos</option>
						<option value="0">Mais de 8 anos</option>
					</select>
					<br>
					
					<div class="form-group">
						<input th:field="*{certificacao}" id="certificado" type="checkbox">
						<label for="certificado">Possui certificado?(*)</label>
						<br>
					</div>
				</div>
				<br>
				<button type="submit" class="btn" id="botao">Registre-se</button>
				<br><br>
			</form>
		</div>
	</body>
</html>